body {
	font-family: 'Montserrat', sans-serif;
}

.titulo-principal {
	text-align: center;
	font-size: 2em;
	margin: 0 0 1em;
  }
.titulo-principal:first-letter{
font-size: 2.5em;
color: red;	
}
.titulo-principal:before{
	content: "[";
}
.titulo-principal:after{
	content: "]";
}
#banner {
	width: 100%
}

main > 	p{
	background: red;
}
.fusquinha + p{
	background: blue;
}
.fusquinha ~ p{
	background: yellow;
}
.principal p:not(#missao){
	background: orange;
}

.principal {
	background: #CCCCCC;
	padding: 30px;
}

 .fusquinha {
 	width: 120px;	
 	float: left;
 	margin: 0 20px 20px 0;
 }

.titulo-centralizado {
	text-align: center;
	clear:left;
  }

p {
	text-align: center;
  }

#missao {
	font-size: 20px;
  }

i {
	color: red;
	font-style: italic;
  }

i u {
	color: blue;
}

.mapa {
	text-align: center;
	padding: 3em 30px;
	background: linear-gradient(#CCCCCC, white);
}

.video {
	text-align: center;
	width: 940px;
	background: linear-gradient(white, #CCCCCC);
}

.beneficios {
	background: #CCCCCC;
	padding: 10%;
}

.lista-bene {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}

.itens {
	font-style: italic;
  }

.items:last-child {
	font-weight: bold;
}
.items:before{
	content: "°	";
}
.imagembeneficios {
	width: 50%;
}

/* definições para a página de Produtos */

header {
	background: #CCCCCC;
	padding: 20px 0;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 90px;
	right: 50px;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-style: 22px;
	text-decoration: none;
}

nav a:hover {
	color:#C78C19;
	text-decoration: underline;
}

.produtos {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

.produtos li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}

.produtos li:hover {
	border-color: #C78C19;
}

.produtos li:active {
	border-color: #088C19;
}

.produtos li:hover h2 {
	font-size: 34px;
}

.produtos h2 {
	font-size: 30px;
	font-weight: bold;
}

.produto-descricao {
	font-size: 18px;
	font-weight: bold;
}

.produto-preco {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}

footer {
	text-align: center;
	background: url("bg.jpg");
	padding: 40px;
}

.copyright {
	color: #FFFFFF;
	font-size: 40px;
	margin: 20px 0 0 0;
}

/* definições para a página de Contato */

main {
	width: 940px;
	margin: 0 auto;
}

form {
	margin: 40px 0;
}

form label, form legend {
	display: block;
	text-align: left;
	font-size: 20px;
	margin: 0 0 10px;
}

.input-padrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 20px;
	width: 50%
}

.checkbox {
	margin: 20px 0;
}

.enviar {
	width: 40%;
	padding: 15px 0;
	margin: 20px 0;
	background: orange;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
}

.enviar:hover {
	background: darkorange;
	transform: scale(1.2);
}

table {
	margin: 20px 0 40px;
}

thead {
	background: #555555;
	color: white;
	font-weight: bold;
}

td, th {
	border: 1px solid #000000;
	padding: 8px 10px;
}